a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px 15px;
   font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

#first {
    background-color: black;
}
#fonts {
   
    
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  border: 3px solid;
  
  
}

